<div>
  <%= for category <- @categories do %>
  <div>
    <.link class="hover:underline" navigate={"/categories/#{category.class}/#{category.subclass}"}>
      <%= category.class %> > <%= category.subclass %>
    </.link>
  </div>
  <% end %>
</div>
